.header-main {
    background-color: #4911ee;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.header-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
}
  
.header-profile-container {
  width: 10vw;
}