.tag-container {
    display: flex;
    border: 1px solid rgba(40, 203, 252, 0.16);
    width: fit-content;
    float: left;
    margin-left: 2px;
    padding: 2px;
    height: 4vh;
    background-color: rgba(40, 203, 252, 0.13);
}

.tag-close-button {
    cursor: pointer;
    font-size: 28px;
    font-weight: lighter;
    margin-left: 2px;
    margin-top: -8px;
    color: gray;
}

.tag-content {
    display: flex;
    align-items: center;
    margin-right: 2px;
    color: rgb(56, 55, 55);
}