.new-recipe-input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(132, 190, 238);
    width: 17vw;    
    font-size: calc(10px + .5vmin);
    color: rgb(39, 38, 38);
}

.new-recipe-input-text {
    margin: 2px;
}

.new-recipe-input-number {
    margin: 2px;
    width: 7vw;
}

.new-recipe-img-container-container {
    position: relative;
    height: 25vh;
    width: 20vw;
}

.new-recipe-img-container {
    width: 100%;
    height: 25vh;
    position: absolute;
    left: 0;
}

.new-recipe-img-container-hallow {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: calc(10px + 1vmin);
    background-color: whitesmoke;
    opacity: 0;
}

.new-recipe-img-container-hallow:hover {
    opacity: 1;
    background: rgba(255, 252, 252, 0.75);
    z-index: 10;
    cursor: pointer;
}

.new-recipe-top-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.new-recipe-input-recipe-name {
    width: 40vw;
    height: 5vh;
}

.new-recipe-input-recipe-img-container-container {
    width: 20vw;
    height: 25vh;
    /* margin-left: 30px; */
    border: 1px solid;
}

.new-recipe-input-recipe-img {
    width: 19vw;
    height: 25vh;
    clear: both;
    border-radius: 15px;
    border: 1px solid;
}

.new-recipe-img-div-container {
    width: 30vw;
}

.new-recipe-img-container-hallow:hover {
    opacity: 1;
    background: rgba(255, 252, 252, 0.75);
    z-index: 10;
    cursor: pointer;
}

.new-recipe-select {
    /* font: inherit; */
    margin: 2px;
    height: 24px;
    width: 10vw;
}

.new-recipe-ingredient-container {
    display: flex;
    align-items: center;
    align-content: center;
}

.new-recipe-ingredient-remove-img {
    margin-left: 5px;
}

.new-recipe-ingredient-add-button {
    color: white;
    background-color: rgb(46 119 46);
    width: 13vw;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.new-recipe-button-container {
    text-align: right;
}

.new-recipe-button {
    border: 1px solid;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
}

.new-recipe-submit-button {
    color: white;
    background-color: rgb(46 119 46);
    width: 8vw;
}

input[type="file"] {
    display: none;
}

.new-recipe-file-upload {
    cursor: pointer;
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-recipe-img {
    width: 20vw;
    height: 25vh;
    clear: both;
    border-radius: 15px;
}

.new-recipe-ingredients-title {
    color: #329a25;
    font-size: calc(10px + .8vmin);
    font-weight: bold;
    margin-bottom: 10px;
}