.menu-main {
    background-color: #57e04b;
    min-height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 20vw;
    color: black;
  }

.menu-item-main {
    color: black;
    background-color: blanchedalmond;
    font-size: calc(10px + .5vmin);
    min-width: 150px;
    border: 1px solid;
    cursor: pointer;
    margin: 5px;
}