.search-container {
    /* align-content: center; */
    /* display: flex; */
    align-items: center;
    font-size: calc(10px + .6vmin);
    /* padding: 5px; */
}

.submit-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.submit-button {
    /* width: 22px;
    height: 22px;
    background-image: url('../img/search_icon.svg');
    border: 0px; */
    border: 1px solid;
    border-radius: 8px;
    height: 40px;
    color: white;
    background-color: rgb(37, 69, 175);
    cursor: pointer;
}

.submit-button-container {
    text-align: right;
    padding: 2px;
}

.search-input {
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(132, 190, 238);
}

.search-input-normal-text {
    width: 17vw;
    margin-top: 3px;
    margin-bottom: 3px;
}

.search-trigger {
    background-color: #057eee;
    color: rgb(245, 245, 245, 95%);
    font-weight: bold;
    font-size: calc(10px + .8vmin);
    padding: 8px;
    border-radius: 2px;
    padding: 10px;
    border-top: 1px solid;
    cursor: pointer;
}

.input-min-max {
    width: 30px;
    height: 20px;
}

/* .input-max {
    width: 30px;
    height: 20px;
} */

.num-weeks-select {
    font: inherit;
    margin: 5px;
}

.search-header-open {
    background-color: #0c86f975;
    /* color: rgb(218, 213, 213); */
}

.search-body-section {
    padding: 10px;
    font-size: calc(10px + .3vmin);
    color: rgb(39, 38, 38);
}