.profile-main {
    height: inherit;
    color: black;
    font-size: calc(10px + .25vmin);
    padding: 2px;
    text-align: center;
}

.profile-not-logged-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: calc(10px + 1vmin);
    font-weight: bolder;
}

.not-logged {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    height: 7vh;
    width: 5vw;
    border-radius: 30px;
}

.profile-name {
    font-size: inherit;
    height: inherit;
    float: left;
    display: flex;
    align-items: center;
}

.logout-link {
    height: inherit;
    float: right;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.logged-span {
    padding: 5px;
}

.profile-button {
    border: none;
    border-radius: 2px;
    height: 20px;
    color: white;
    background-color: inherit;
    cursor: pointer;
    font: inherit;
    text-decoration: underline;
}