.profile-main {
    background-color: #fdea80;
    min-height: 85vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: left;
    vertical-align: top;
    font-size: calc(10px + 2vmin);
    padding-left: 10px;
    padding-top: 10px;
    color: black;
  }

.profile-img {
    height: 7vh;
    width: 5vw;
    float: left;
    border: 1px solid;
}

.profile-name {
    font-size: 10px;
    height: 7vh;
    float: left;
    border: 1px solid;
}