.App {
  /* padding: 10px; */
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-section {
  position: static;
}

.Profile-section {
  float: left;
  height: 85vh;
  width: 20vw;
}

.Content-section {
  /* padding: 10px; */
  position: absolute;
  left: 20vw;
  background-color: rgb(184, 244, 247);
  width: 80vw;
  height: 85vh;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
