.footer-container {
    /* background-color: black;
    color: white;
    position: relative;
    top: calc(100vh - 70px);
    width: 100%;
    height: 5vh;
    text-align: center; */
    height: 100px;
}