.recipe-item-container {
    width: 20vw;
    min-width: 150px;
    padding: 5px;
    border: 2px solid #a099ef;
    border-radius: 15px;
    font-size: calc(10px + .3vmin);
    color: rgb(39, 38, 38);
    text-align: left;
}

.recipe-item-img {
    width: 20vw;
    height: 20vh;
    clear: both;
    border-radius: 15px;
}

.recipe-item-summary-container {
    height: 22vh;
}

.recipe-item-detail {
    /* display: none; */
    opacity: 1;
    position: relative;
}

.recipe-item-summary-item-container {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
}
/* .recipe-item-img:hover {
    opacity: .2;
    cursor: pointer;
} */

.recipe-item-detail-item-container-hallow {
    /* border: 1px solid; */
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: calc(10px + 1vmin);
    background-color: whitesmoke;
    /* background: rgb(248, 245, 245, 0); */
    opacity: 0;
}

.recipe-item-detail-item-container-hallow:hover {
    opacity: 1;
    background: rgba(255, 252, 252, 0.75);
    z-index: 10;
    cursor: pointer;
}

.recipe-summary-recipe-name {
    font-size: calc(10px + 1.6vmin);
    color: #e23464;
}